new

<form action="/posts" method="POST">
  <input type="text"  name="post[title]" placeholder="Title">
  <input type="text" name="post[price]" placeholder="Price">
  <textarea name="post[description]" placeholder="Description"></textarea>
  <input type="text" name="post[location]" placeholder="Location">
  <input type="submit" placeholder="Submit">
</form>