new

<form action="/posts" method="POST" enctype="multipart/form-data">
  <input type="text"  name="post[title]" placeholder="Title">
  <input type="text" name="post[price]" placeholder="Price">
  <input type="file" name="images" accept="images/*" multiple />
  <textarea name="post[description]" placeholder="Description"></textarea>
  <input type="text" name="post[location]" placeholder="Location">
  <input type="submit" placeholder="Submit">
</form>